
<div class="max-w-screen-xl mx-auto p-4">
  <%= render 'shared/dashboard_nav' %>

  <h1 class="text-center text-3xl font-semibold mt-8" style="color: #471815;"><%= t('.edit_your_profile') %></h1>


  <%= form_for(@user, url: update_user_profile_path(@user), method: :patch, html: { multipart: true, class: "mt-6 max-w-md mx-auto" }) do |f| %>

    <!-- Avatar Image -->
    <div class="flex justify-center mb-6">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: "w-32 h-32 object-cover rounded-full" %>
      <% else %>
        <p>No avatar uploaded</p>
      <% end %>
    </div>

    <!-- Upload Image Button -->
    <div class="flex text-center mb-6">
      <label class="w-full cursor-pointer">
        <%= f.file_field :avatar, accept: 'image/jpeg, image/png', class: 'hidden', onchange: "this.form.submit();" %> <!-- onchange to submit the form automatically when an image is selected -->
        <span class="cursor-pointer px-6 py-2 text-sm text-white bg-[#471815] rounded-full font-semibold inline-block">Upload Image</span>
      </label>
    </div>


    <!-- Full Name -->
    <div class="relative mb-6 max-w-sm mx-auto"> 
      <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('users.edit.full_name') %></label>
      <%= f.text_field :full_name, class: 'w-full px-4 py-3 border-2 border-gray-300 rounded-full focus:outline-none focus:border-[#471815]', placeholder: t('users.edit.full_name') %>
      <i class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-400 fa fa-user"></i>
    </div>

    <!-- Email -->
    <div class="relative mb-6 max-w-sm mx-auto">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('users.edit.email') %></label>
      <%= f.email_field :email, class: 'w-full px-4 py-3 border-2 border-gray-300 rounded-full focus:outline-none focus:border-[#471815]', readonly: true, placeholder: t('users.edit.email') %>
      <i class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-400 fa fa-envelope"></i>
    </div>

    <!-- Major Dropdown -->
    <div class="relative mb-6 max-w-sm mx-auto">      
      <label for="major" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('users.edit.major') %></label>
      <%= f.collection_select :major_id, @majors, :id, :name, { include_blank: 'Select Major' }, { class: 'w-full px-4 py-3 border-2 border-gray-300 rounded-full focus:outline-none focus:border-[#471815]' } %>
      <i class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-400 fa fa-graduation-cap"></i>
    </div>

    <!-- Class Year Dropdown -->
    <div class="relative mb-6 max-w-sm mx-auto">
      <label for="classification" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('users.edit.class_year') %></label>
      <%= f.collection_select :class_year_id, @class_years, :id, :name, { include_blank: 'Select Class Year' }, { class: 'w-full px-4 py-3 border-2 border-gray-300 rounded-full focus:outline-none focus:border-[#471815]' } %>
    </div>

    <!-- Graduation Year Field -->
    <div class="relative mb-6 max-w-sm mx-auto <%= 'has-error' if @user.errors[:grad_year].any? %>">
      <label for="graduation_year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('users.edit.grad_year') %></label>
      <%= f.number_field :grad_year, placeholder: t('users.edit.grad_placeholder'), 
          class: 'w-full px-4 py-3 border-2 border-gray-300 rounded-full focus:outline-none focus:border-[#471815]' %>
    
      <!-- Display validation error for grad_year if any -->
      <% if @user.errors[:grad_year].any? %>
        <span class="help-block text-red-500">
          <%= @user.errors[:grad_year].first %>
        </span>
      <% end %>
    </div>
    

    <!-- Bio -->
    <div class="relative mb-6 max-w-sm mx-auto">
      <label for="bio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('users.edit.bio') %></label>
      <%= f.text_area :bio, class: 'w-full px-4 py-3 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-[#471815]', placeholder: t('users.edit.about_placeholder'), style: 'height: 8rem;' %> <!-- Set height using inline style -->
    </div>


    <!-- Submit Button -->
    <div class="flex justify-center mt-7">
      <%= f.submit 'Update Profile', class: 'px-6 py-2 text-white font-semibold rounded-full', style: 'background-color: #471815; z-index: 1; position: relative;' %>
    </div>

  <% end %>

  <!-- Cancel Button -->
  <div class="text-center mt-2">
    <%= link_to t('Cancel'), user_profile_path(current_user), class: 'font-semibold' %><br>
  </div>
</div>
