<div class="container mx-auto p-6">
  <div class="flex items-center justify-between py-5">
    <h1 class="text-2xl font-semibold" style="color: #471815;"><%= t('.member_directory') %></h1>

<div>
  <!-- Search Form -->
  <%= render 'shared/search_form', 
           form_url: users_path, 
           show_text_search: true, 
           text_search_label: t('users.index.search_members', default: "Search Members"),
           text_search_placeholder: t('users.index.search_bar', default: "Enter full name or email"),
           show_major_filter: true, 
           major_label: t('users.index.filter_by_major', default: "Filter by Major"),
           major_options: @majors.map { |m| [m.name, m.id] },
           show_class_year_filter: true,
           class_year_label: t('users.index.filter_by_class_year', default: "Filter by Class Year"),
           class_year_options: @class_years.map { |cy| [cy.name, cy.id] },
           show_per_page: true,
           per_page_label: t('users.index.items_per_page', default: "Items per page") %>

  <% if @users.any? %>
    <!-- Users Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.email') %></th>
          <th><%= t('.bio') %></th>
          <th><%= t('.class_year') %></th>
          <th><%= t('.major') %></th>
          <th><%= t('.role') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.bio %></td>
            <td><%= user.class_year.present? ? user.class_year.name : '' %></td>
            <td><%= user.major.present? ? user.major.name : '' %></td>
            <td><%= user.role.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Pagination -->
    <%= paginate @users %>
  <% else %>
    <p><%= t('search.no_results') %></p>
  <% end %>
</div>
