<div class="container mx-auto p-6">
  <!-- Search Form -->
  <%= render 'shared/search_form', 
           form_url: users_path, 
           show_text_search: true, 
           text_search_label: t('users.index.search_members', default: "Search Members"),
           text_search_placeholder: t('users.index.search_bar', default: "Enter full name or email"),
           show_major_filter: true, 
           major_label: t('users.index.filter_by_major', default: "Filter by Major"),
           major_options: @majors.map { |m| [m.name, m.id] },
           show_class_year_filter: true,
           class_year_label: t('users.index.filter_by_class_year', default: "Filter by Class Year"),
           class_year_options: @class_years.map { |cy| [cy.name, cy.id] },
           show_per_page: true,
           per_page_label: t('users.index.items_per_page', default: "Items per page") %>

  <% if @users.any? %>
  
    <%= paginate @users %>
    <%= render 'member_list' %>
    <%= paginate @users %>

  <% else %>
    <p><%= t('search.no_results') %></p>
  <% end %>
</div>
