<%= link_to('Back to Home', root_path) %>
<h1>Member Directory</h1>


<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Bio</th>
        <th>Class Year</th>
        <th>Major</th>
        <th>Role</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <% if user.profile %>
            <td><%= user.profile.bio %></td>
            <td><%= user.profile.class_year %></td>
            <td><%= user.profile.major.present? ? user.profile.major.name : '' %></td>
            <td><%= user.profile.role.present? ? user.profile.role.name : 'No Role Assigned' %></td>
        <% end %>
    </tr>
    <% end %>

</table>
