<h1><%= t('.new_resource_type') %></h1>

<%= form_with model: @resource_type, url: admin_resource_types_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label :title, t('.title') %>
    <%= form.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.submit t('.create_resource_type'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('.back_to_resource_manager'), admin_resources_path %>
