<nav class="bg-[#471815] text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/logo.svg" class="h-10 px-2" alt="Saudi Community Hub Logo" />
        <span class="text-center text-xl font-semibold px-2 whitespace-nowrap"><%= t('shared.saudi_hub') %></span>
    </a>

    <!-- User Menu -->
    <div id="avatarMenuWrapper" class="hidden sm:flex items-center space-x-3 lg:order-2 lg:space-x-0 ml-auto rtl:space-x-reverse">
      <% if user_signed_in? %>
        <%= render 'shared/avatar_dropdown'%>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "text-[#471815] bg-white hover:bg-[#173821] hover:text-white font-medium rounded-lg text-sm px-4 py-2 text-center inline-block" %>
      <% end %>
    </div>

    <!-- Hamburger Menu Button -->
    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg lg:hidden hover:bg-white hover:text-[#471815] lg:order-3" aria-controls="navbar-sticky" aria-expanded="false">
      <span class="sr-only"><%= t('shared.open_main_menu') %></span>
      <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>

    <!-- Navbar Links -->
    <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 lg:p-0 font-medium rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 bg-white lg:bg-transparent">
        <li>
          <%= link_to t('shared.home'), root_path, class: "#{current_page?(root_path) ? 'nav-active' : 'nav-inactive'}" %>
        </li>
        <li>
          <%= link_to t('shared.resources'), users_path, class: "#{current_page?(users_path) ? 'nav-active' : 'nav-inactive'}" %>
        </li>
        <li>
          <%= link_to t('shared.member_directory'), users_path, class: "#{current_page?(users_path) ? 'nav-active' : 'nav-inactive'}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
