<nav class="bg-[#471815] text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/logo-white-outline.svg" class="h-10 px-2" alt="Saudi Community Hub Logo" />
        <span class="text-center text-xl font-semibold px-2 whitespace-nowrap"><%= t('shared.saudi_hub') %></span>
    </a>

    <!-- User Menu -->
    <div id="avatarMenuWrapper" class="sm:flex space-x-3 lg:order-2 lg:space-x-0 <%= I18n.locale == :ar ? 'mr-auto' : 'ml-auto' %>">
      <% if user_signed_in? %>
        <%= render 'shared/avatar_dropdown' %>
      <% else %>
        <!-- Avatar Button for Non-Signed In Users -->
        <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-md pe-1 font-medium bg-[#471815] text-white hover:bg-transparent hover:text-opacity-100 text-opacity-75 rounded p-2" type="button">
            <span class="sr-only"><%= t('shared.open_user_menu') %></span>
            
            <!-- Default Avatar Image -->
            <%= image_tag '/default-avatar.svg', class: 'w-8 h-8 rounded-full', alt: 'Default avatar' %>

            <!-- Text and arrow elements hidden on sm -->
            <span class="ms-2 hidden sm:inline md:inline lg:inline xl:inline"><%= t('shared.login') %></span>
            
            <svg class="w-2.5 h-2.5 mx-2 hidden sm:inline md:inline lg:inline xl:inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>

        <!-- Dropdown Menu for Non-Signed In Users -->
        <div id="dropdownAvatarName" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
          <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownUserAvatarButton">
              <!-- Login Option -->
              <li>
                  <%= link_to t('shared.login'), new_user_session_path, class: "block px-4 py-2 hover:bg-gray-100" %>
              </li>
          </ul>
          
          <!-- Language Switcher -->
          <div class="py-2 text-sm text-gray-700">
              <%= link_to 'English', switch_locale_path(locale: 'en'), class: "px-4 py-2 hover:bg-gray-100" %> |
              <%= link_to 'العربية', switch_locale_path(locale: 'ar'), class: "px-4 py-2 hover:bg-gray-100" %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Hamburger Menu Button -->
    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg lg:hidden hover:bg-white hover:text-[#471815] lg:order-3" aria-controls="navbar-sticky" aria-expanded="false">
      <span class="sr-only"><%= t('shared.open_main_menu') %></span>
      <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>

    <!-- Navbar Links -->
    <div class="items-center justify-between hidden w-full lg:flex mx-auto lg:w-auto lg:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 lg:p-0 font-medium rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 bg-white lg:bg-transparent">
        <li>
          <%= link_to t('shared.home'), root_path, class: "#{current_page?(root_path) ? 'nav-active' : 'nav-inactive'}" %>
        </li>
        <li>
          <%= link_to t('shared.resources'), resources_path, class: "#{current_page?(resources_path) ? 'nav-active' : 'nav-inactive'}" %>
        </li>
        <li>
          <%= link_to t('shared.member_directory'), users_path, class: "#{current_page?(users_path) ? 'nav-active' : 'nav-inactive'}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
