<%= form_with url: form_url, method: :get, local: true, class: 'search-form' do %>
  <div class="form-group">
    <!-- Text Search Field -->
    <% if show_text_search %>
      <%= label_tag :search, text_search_label %>
      <%= text_field_tag :search, params[:search], placeholder: text_search_placeholder, class: "form-control" %>
    <% end %>

    <!-- Select Dropdown for Major -->
    <% if show_major_filter %>
      <%= label_tag :major, major_label %>
      <%= select_tag :major, options_for_select(major_options, params[:major]), include_blank: 'All Majors', class: "form-control", onchange: 'this.form.submit();' %>
    <% end %>

    <!-- Select Dropdown for Class Year -->
    <% if show_class_year_filter %>
      <%= label_tag :class_year, class_year_label %>
      <%= select_tag :class_year, options_for_select(class_year_options, params[:class_year]), include_blank: 'All Class Years', class: "form-control", onchange: 'this.form.submit();' %>
    <% end %>

    <!-- Select Dropdown for Items Per Page -->
    <% if show_per_page %>
      <%= label_tag :per_page, per_page_label %>
      <%= select_tag :per_page, options_for_select([5, 10, 20], params[:per_page] || 10), onchange: 'this.form.submit();', class: "form-control" %>
    <% end %>

    <!-- Submit Button -->
    <%= submit_tag t('search.search_button'), class: "btn btn-primary" %>
  </div>
<% end %>
