<%= form_with url: form_url, method: :get, local: true, class: "container mt-4" do %>
  <div class="flex flex-wrap items-center justify-between">
    
    <!-- Search Bar Container -->
    <% if show_text_search %>
      <div class="flex-grow max-w-xl w-full relative mb-4 min-w-[16rem] <%= I18n.locale == :ar ? 'ml-auto' : 'mr-auto' %>">
        
        <!-- Search Input -->
        <%= text_field_tag :search, params[:search], placeholder: text_search_placeholder, 
            class: "w-full pr-12 py-2 focus:outline-none #{I18n.locale == :ar ? 'pl-10' : 'pr-12'}", 
            style: "border: 3px solid #471815; color: #471815; border-radius: 0.25rem;", 
            onchange: "this.form.submit();" %>

        <!-- Conditional Search Button/Icon Position based on Language Direction -->
        <button type="submit" class="absolute inset-y-0 <%= I18n.locale == :ar ? 'left-0 pl-3' : 'right-2' %> flex items-center"> 
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="color: #471815;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M11 18a7 7 0 100-14 7 7 0 000 14z" />
          </svg>
        </button>
      
      </div>
    <% end %>

    <!-- Filters Section -->
    <div class="flex flex-wrap items-center">
      <% if show_major_filter %>
        <div class="w-auto mb-4 min-w-[16rem] <%= I18n.locale == :ar ? 'ml-4' : 'mr-4' %>">
          <%= select_tag :major, options_for_select(major_options, params[:major]), include_blank: 'All Majors', class: "w-full rounded-full text-sm px-4 py-3 font-semibold", style: "border-color: #471815; color: #471815;", onchange: 'this.form.submit();' %>
        </div>
      <% end %>

      <% if show_class_year_filter %>
        <div class="w-auto mb-4 min-w-[12rem] <%= I18n.locale == :ar ? 'ml-4' : 'mr-4' %>">
          <%= select_tag :class_year, options_for_select(class_year_options, params[:class_year]), include_blank: 'All Class Years', class: "w-full rounded-full text-sm px-4 py-3 font-semibold", style: "border-color: #471815; color: #471815;", onchange: 'this.form.submit();' %>
        </div>
      <% end %>

      <% if show_resource_status_filter %>
        <div class="w-auto mb-4 min-w-[12rem] <%= I18n.locale == :ar ? 'ml-4' : 'mr-4' %>">
          <%= label_tag :status, t('.filter_by_status') %>
          <%= select_tag :status, options_for_select( 
            [[t('admin.resources.status_active'), 'active'], 
            [t('admin.resources.status_pending'), 'pending'], 
            [t('admin.resources.status_archived'), 'archived']], 
            params[:status]), prompt: t("admin.resources.select_status"), onchange: 'this.form.submit();' %>
        </div>
      <% end %> 

      <% if show_log_action_filter %>
        <div class="w-auto mb-4 min-w-[12rem] <%= I18n.locale == :ar ? 'ml-4' : 'mr-4' %>">
          <%= label_tag :action, t('.filter_by_action') %>
          <%= select_tag :action, options_for_select(
            ['Created Resource Proposal',
            'Updated Resource',
            'Deleted Resource Type',
            'Updated Resource Type',
            'Created Resource Type',
            'Failed to Create Resource Type'],
            selected: params[:action]), prompt: t("admin.logs.select_action"), onchange: 'this.form.submit();' %>
        </div>
      <% end %>

      <div class="flex items-center">
        <% if show_per_page %>
          <div class="w-30 mb-4 min-w-[5rem] <%= I18n.locale == :ar ? 'ml-4' : 'mr-4' %>">
            <%= select_tag :per_page, options_for_select([5, 10, 20], params[:per_page] || 10), onchange: 'this.form.submit();', class: "w-full rounded-full text-sm px-4 py-3 font-semibold", style: "border-color: #471815; color: #471815;" %>
          </div>
        <% end %>

        <!-- Apply Filter Button -->
        <div class="mb-4">
          <%= submit_tag t('search.apply_button', default: 'Search'), class: "rounded-full text-sm px-4 py-2 font-semibold", style: "background-color: #471815; color: white; border-radius: 0.25rem; height: 2.75rem; min-width: auto;" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

