<div class="container mx-auto py-12 px-4">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold text-gray-800"><%= t('.title') %></h1>
    <p class="text-gray-600 mt-2"><%= t('.subtitle') %></p>
  </div>

  <div class="space-y-12">

    <div>
      <h2 class="text-2xl font-semibold text-gray-800"><%= t('.getting_started.title') %></h2>
      <p class="mt-4 text-gray-600">
        <%= t('.getting_started.create_account') %>
      </p>
      <ul class="mt-4 list-disc list-inside text-gray-600">
        <li><%= t('.getting_started.account_creation') %></li>
        <li><%= t('.getting_started.google_auth') %>
          <ul class="pl-8 list-disc">
            <li><%= t('.getting_started.privacy_policy') %></li>
          </ul>
        </li>
        <li><%= t('.getting_started.logged_in') %></li>
      </ul>
    </div>

    <br>

    <div>
      <h2 class="text-2xl font-semibold text-gray-800"><%= t('.how_to_use.title') %></h2>
      <p class="mt-4 text-gray-600">
        <%= t('.how_to_use.intro') %>
      </p>

      <div class="mt-8">
        <h3 class="text-xl font-semibold text-gray-700"><%= t('.how_to_use.profile_management.title') %></h3>
        <p class="mt-2 text-gray-600">
          <%= t('.how_to_use.profile_management.instruction') %>
        </p>
        <p class="mt-2 text-gray-600">
          <%= t('.how_to_use.profile_management.save_changes') %>
        </p>
      </div>

      <div class="mt-8">
        <h3 class="text-xl font-semibold text-gray-700"><%= t('.how_to_use.resource_sharing.title') %></h3>
        <p class="mt-2 text-gray-600">
          <%= t('.how_to_use.resource_sharing.instruction') %>
        </p>
        <p class="mt-2 text-gray-600">
          <%= t('.how_to_use.resource_sharing.details') %>
        </p>
      </div>

      <div class="mt-8">
        <h3 class="text-xl font-semibold text-gray-700"><%= t('.how_to_use.member_directory.title') %></h3>
        <p class="mt-2 text-gray-600">
          <%= t('.how_to_use.member_directory.instruction') %>
        </p>
      </div>

    </div>

    <br>

    <div>
      <h2 class="text-2xl font-semibold text-gray-800"><%= t('.faq.title') %></h2>
      <p class="mt-4 text-gray-600"><%= t('.faq.subtitle') %></p>
      <div class="mt-4 space-y-4">
        <div>
          <h3 class="text-xl font-semibold text-gray-700"><%= t('.faq.logout.title') %></h3>
          <p class="text-gray-600 mt-2">
            <%= t('.faq.logout.instruction') %>
          </p>
        </div>
        <div>
          <h3 class="text-xl font-semibold text-gray-700"><%= t('.faq.resource_proposal.title') %></h3>
          <p class="text-gray-600 mt-2">
            <%= t('.faq.resource_proposal.instruction') %>
          </p>
        </div>
      </div>
    </div>

    <div>
       <h2 class="text-2xl font-semibold text-gray-800"><%= t('.training_video.title') %></h2>
        <div class="mt-4 space-y-4">
          <div>
             <p class="mt-4 text-gray-600 mb-8">
                <%= t('.training_video.intro') %>
              </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rGURNvESg04?si=N4hOqvYcw83_71Xi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
        </div>
    </div>

    <br>

    <div>
      <h2 class="text-2xl font-semibold text-gray-800"><%= t('.contact.title') %></h2>
      <p class="mt-4 text-gray-600">
        <%= t('.contact.subtitle') %>
      </p>
      <div class="mt-4">
        <a href="mailto:b.pettit@tamu.edu?cc=axp8224@tamu.edu,kristinelam@tamu.edu,josiahcastillo03@tamu.edu,donghatamu@tamu.edu" class="text-blue-600 hover:underline">
            b.pettit@tamu.edu
        </a>
      </div>
    </div>

  </div>
</div>
