<div class="max-w-screen-xl mx-auto p-4 space-y-6">
  <%= render 'shared/dashboard_nav' %>

  <div class="flex p-4 items-center mb-4">
    <%= link_to t(".back_to_resources"), resources_path, class: 'btn btn-primary' %>
    <%= link_to t("admin.resource_types.index.create_new_resource_type"), new_admin_resource_type_path, class: 'btn btn-secondary ml-4' %>
  </div>

  <div class="flex space-x-6">
    <!-- Search Form and Filters -->
    <div class="w-1/3 space-y-4 p-4 border rounded-md">
      <%= form_with url: admin_resources_path, method: :get, local: true do %>
        <div class="form-group space-y-2">
          <%= label_tag :search, t('.search_resources'), class: 'block font-semibold' %>
          <%= text_field_tag :search, params[:search], placeholder: t('admin.resources.index.search_bar'), class: "w-full p-2 border rounded" %> 

          <%= label_tag :status, t('.filter_by_status'), class: 'block font-semibold pt-2' %>
          <%= select_tag :status, options_for_select(
            [[t('admin.resources.status_active'), 'active'], 
            [t('admin.resources.status_pending'), 'pending'], 
            [t('admin.resources.status_archived'), 'archived'],
            [t('admin.resources.status_rejected'), 'rejected']], 
            params[:status]), prompt: t("admin.resources.select_status"), onchange: 'this.form.submit();', class: "w-full p-2 border rounded" %>

          <%= label_tag :resource_type_id, t('.filter_by_resource_type'), class: 'block font-semibold pt-2' %>
          <%= select_tag :resource_type_id, options_from_collection_for_select(ResourceType.all, :id, :title, params[:resource_type_id]), prompt: t(".select_type"), onchange: 'this.form.submit();', class: "w-full p-2 border rounded" %>
        
          <%= submit_tag t('.search_button'), class: "btn btn-primary", style: "margin-top: 24px;" %>

        </div>
      <% end %>
    </div>

    <!-- Resource Type Table -->
    <div class="w-2/3">
      <% columns = [t('admin.resource_types.index.resource_type'), t('admin.resource_types.index.actions')] %>
      <% rows = @resource_types.map do |resource_type| 
        [
          resource_type.title,
          content_tag(:div, class: 'flex space-x-2') do
            link_to(t('admin.resource_types.index.edit_button'), edit_admin_resource_type_path(resource_type), class: 'btn btn-secondary') +
            button_to(t('admin.resource_types.index.delete_button'), admin_resource_type_path(resource_type), method: :delete, data: { confirm: t('admin.resource_types.index.delete_confirm') }, class: 'btn btn-danger')
          end
        ]
      end %>

      <%= render 'shared/table', columns: columns, rows: rows %>
    </div>
  </div>

  <!-- Resource Table -->
  <div class="w-full pt-4 mt-6">
    <% columns = [
      t("resources.status"),
      t("resources.type"),
      t("resources.title"),
      t("resources.description"),
      t("resources.author"),
      t("resources.feedback"),
      t("actions")
    ] %>
    
    <% rows = @resources.map do |resource|
      [
        t("admin.resources.status_#{resource.status}"),
        resource.resource_type.present? ? resource.resource_type.title : 'No Type',
        resource.title,
        resource.description,
        resource.author.full_name,
        (resource.feedback.present? && resource.status == 'pending') ? resource.feedback : "",
        link_to(t("admin.resources.edit_resource"), edit_admin_resource_path(resource), class: 'btn btn-secondary')
      ]
    end %>
    
    <%= render 'shared/table', columns: columns, rows: rows %>
  </div>
</div>
