<h1><%= t(".resource_manager") %></h1>
<%= link_to t(".back_to_resources"), resources_path, class: 'btn btn-primary' %>

<%= link_to t(".create_new_resource_type"), new_admin_resource_type_path, class: 'btn btn-info mt-2' %> <!-- Add this button -->

<table>
  <thead>
    <tr>
      <th>Resource Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @resource_types.each do |resource_type| %>
      <tr>
        <td><%= resource_type.title %></td>
        <td>
          <%= link_to 'Edit', edit_admin_resource_type_path(resource_type), class: 'btn btn-info' %>
          <%= button_to 'Delete', admin_resource_type_path(resource_type), method: :delete, data: { confirm: 'Are you sure you want to delete this resource type? This will archive associated resources.' }, class: 'btn btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with url: admin_resources_path, method: :get, local: true do %>
  <div class="form-group">
    <%= label_tag :search, t('.search_resources') %>
    <%= text_field_tag :search, params[:search], placeholder: t('admin.resources.index.search_bar') %> 

    <%= label_tag :status, t('.filter_by_status') %>
    <%= select_tag :status, options_for_select( 
      [[t('admin.resources.status_active'), 'active'], 
      [t('admin.resources.status_pending'), 'pending'], 
      [t('admin.resources.status_archived'), 'archived']], 
      params[:status]), prompt: t("admin.resources.select_status"), onchange: 'this.form.submit();' %>

    <%= label_tag :resource_type_id, t('.filter_by_resource_type') %>
    <%= select_tag :resource_type_id, options_from_collection_for_select(ResourceType.all, :id, :title, params[:resource_type_id]), prompt: t(".select_type"), onchange: 'this.form.submit();' %>
  
    <%= submit_tag t('.search_button') %>
  </div>
<% end %>

<div style="display: flex;">
  <div style="width: 75%;">
    <table>
      <th><%= t("resources.status") %></th>
      <th><%= t("resources.type") %></th>
      <th><%= t("resources.title") %></th>
      <th><%= t("resources.description") %></th>
      <th><%= t("resources.author") %></th>
      <th><%= t("resources.feedback") %></th>
      
      <% @resources.each do |resource| %>
        <tr style="margin-bottom: 20px;">
          <td><%= t("admin.resources.status_#{resource.status}") %></td>
          <td><%= resource.resource_type.present? ? resource.resource_type.title : 'No Type' %></td>
          <td><%= resource.title %></td>
          <td><%= resource.description %></td>
          <td><%= resource.author.full_name %></td>
          <td><%= link_to t("admin.resources.edit_resource"), edit_admin_resource_path(resource) %></td>
          <td><%= (resource.feedback.present? && resource.status == 'pending') ? resource.feedback : "" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
