<h1><%= t(".resource_manager") %></h1>
<%= link_to t(".back_to_resources"), resources_path %>

<%= form_with url: admin_resources_path, method: :get, local: true do %>
  <div class="form-group">
    <%= label_tag :search, t('.search_resources') %>
    <%= text_field_tag :search, params[:search], placeholder: t('admin.resources.index.search_bar') %> 

    <%= label_tag :status, t('.filter_by_status') %>
    <%= select_tag :status, options_for_select( 
      [[t('admin.resources.status_active'), 'active'], 
      [t('admin.resources.status_pending'), 'pending'], 
      [t('admin.resources.status_archived'), 'archived']], 
      params[:status]), prompt: t("admin.resources.select_status"), onchange: 'this.form.submit();' %>

    <%= label_tag :resource_type_id, t('.filter_by_resource_type') %>
    <%= select_tag :resource_type_id, options_from_collection_for_select(ResourceType.all, :id, :title, params[:resource_type_id]), prompt: t(".select_type"), onchange: 'this.form.submit();' %>
  
    <%= submit_tag t('.search_button') %>
  </div>
<% end %>


<div style="display: flex;">
  <div style="width: 75%;">
    <table>
      <th><%= t("admin.resources.status") %></th>
      <th><%= t(".type") %></th>
      <th><%= t("admin.resources.title") %></th>
      <th><%= t("admin.resources.description") %></th>
      <th><%= t(".author") %></th>
      <% @resources.each do |resource| %>
        <tr style="margin-bottom: 20px;">
          <td><%= t("admin.resources.status_#{resource.status}") %></td>
          <td><%= resource.resource_type.title %>
          <td><%= resource.title %></td>
          <td><%= resource.description %></td>
          <td><%= resource.author.full_name %></td>
          <td><%= link_to t("admin.resources.edit_resource"), edit_admin_resource_path(resource) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>