<div class="max-w-screen-xl mx-auto p-4">
  <%= render 'shared/dashboard_nav' %>

  <div class="">
  <%= render 'shared/search_form', 
      form_url: admin_logs_path, 
      show_text_search: true,
      text_search_label: t('logs.search_logs', default: "Search Logs"),
      text_search_placeholder: t('logs.search_placeholder', default: "Enter email, action, or description"),
      show_major_filter: false, 
      show_class_year_filter: false,
      show_log_action_filter: true, 
      show_per_page: false %>
  </div>
  

  <% if flash[:notice] %>
    <p class="text-red-600"><%= flash[:notice] %></p>
  <% end %>

 <%= paginate @logs %>

  <table>
    <thead>
      <tr>
        <th><%= t('admin.logs.index.user_email') %></th>
        <th><%= t('admin.logs.index.action') %></th>
        <th><%= t('admin.logs.index.description') %></th>
        <th><%= t('admin.logs.index.timestamp') %></th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= log.user_email %></td>
          <td><%= log.action %></td>
          <td><%= log.description %></td>
          <td><%= log.action_timestamp.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


