<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

  <!-- Show 'No Results' Message If Applicable -->
  <% if flash[:notice] %>
    <p class="text-red-600"><%= flash[:notice] %></p>
  <% end %>

  <% @resources.each do |resource| %>
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col h-full">
      <!-- Resource Image -->
      <div class="relative">
        <% if resource.images.attached? %>
          <%= image_tag resource.images.first, class: 'w-full h-48 object-cover', alt: resource.title %>
        <% else %>
          <%= image_tag '/home-bg.svg', class: 'w-full h-48 object-cover', alt: 'Placeholder image' %>
        <% end %>
      </div>
      <!-- Resource Content -->
      <div class="p-6 relative flex flex-col flex-grow justify-between">
        <!-- Resource Title -->
        <h3 class="text-xl font-bold mb-2 text-[#471815]"><%= resource.title %></h3>

        <!-- Description -->
        <p class="text-gray-700 text-sm mb-4 flex-grow"><%= truncate(resource.description, length: 100) %></p>

        <!-- Distance Display -->
        <% if @address_filter && resource.distance.present? %>
          <div class="text-orange-500 font-semibold mb-4">
            <%= "#{resource.distance.round(2)} miles" %>
          </div>
        <% end %>

        <!-- Read More Button -->
        <div class="mt-auto">
          <%= link_to t('resources.read_more', default: 'Read More'), resource_path(resource), class: 'block bg-[#471815] text-white font-semibold text-center py-2 rounded-md hover:bg-[#633e23]', id: "read-more-#{resource.id}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
