<div class="container mx-auto max-w-screen-xl p-6">
  
  <!-- Title for Resources -->
  <div class="max-w-lg w-full">
    <h1 class="text-2xl font-semibold" style="color: #471815;"><%= t('.resources') %></h1>
  </div>

  <!-- Search Form -->
  <div class="">
    <%= render 'shared/search_form', 
        form_url: resources_path, 
        show_text_search: true,
        text_search_label: t('search.resources.search_resources', default: "Search Resources"),
        text_search_placeholder: t('search.resources.search_bar', default: "Enter resource title or description"),
        show_major_filter: false, 
        show_class_year_filter: false, 
        show_per_page: true, 
        show_log_action_filter: false,
        per_page_label: t('users.index.items_per_page', default: "Items per page") %>
  </div>

  <!-- Show 'No Results' Message If Applicable -->
  <% if flash[:notice] %>
    <p class="text-red-600"><%= flash[:notice] %></p>
  <% end %>

  <!-- Tabs Component -->
  <div class="text-md font-medium text-center text-gray-500 border-b border-gray-200 my-4">
    <!-- Tabs navigation -->
    <ul class="flex flex-wrap -mb-px" id="myTab" role="tablist">
      <!-- All Resources Tab -->
      <li class="<%= 'mr-2 border-b-2 ' + (params[:resource_type_id].blank? ? 'border-color1' : 'border-transparent hover:border-gray-300') %>">
        <%= link_to "All Resources", resources_path, class: "inline-block p-4 rounded-t-lg #{params[:resource_type_id].blank? ? 'text-color1 border-color1 font-bold' : 'border-transparent hover:text-gray-600 hover:border-gray-300 hover:font-bold'}" %>
      </li>

      <!-- Dynamic Resource Type Tabs -->
      <% @resource_types.each do |resource_type| %>
        <li class="mr-2 border-b-2 <%= params[:resource_type_id].to_s == resource_type.id.to_s ? 'border-color1' : 'border-transparent hover:border-gray-300' %>">
          <%= link_to resource_type.title, resources_path(resource_type_id: resource_type.id), class: "inline-block p-4 rounded-t-lg #{params[:resource_type_id].to_s == resource_type.id.to_s ? 'text-color1 border-color1 font-bold' : 'border-transparent hover:text-gray-600 hover:border-gray-300 hover:font-bold'}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= paginate @resources %>

  <!-- Tabs Content -->
  <div id="myTabContent" class="mt-6">
    <!-- All Resources Tab Content -->
    <div class="<%= params[:resource_type_id].blank? ? '' : 'hidden' %>" id="all-resources" role="tabpanel" aria-labelledby="all-resources-tab">
      <!-- All Resources List -->
      <div class="mt-4">
        <%= render 'resource_list', resources: @resources %>
      </div>
    </div>

    <!-- Dynamic Resource Type Tabs Content -->
    <% @resource_types.each do |resource_type| %>
      <div class="<%= params[:resource_type_id].to_s == resource_type.id.to_s ? '' : 'hidden' %>" id="tab-content-<%= resource_type.id %>" role="tabpanel" aria-labelledby="tab-<%= resource_type.id %>">
        <!-- Resources List for specific type -->
        <div class="mt-4">
          <%= render 'resource_list', resources: @resources.where(resource_type_id: resource_type.id) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @resources %>

  <!-- Manage Resources Button -->
  <div class="fixed bottom-5 right-5 space-y-3 <%= 'mb-16' if flash.any? %>">
    <%= link_to t('shared.submit_resource', default: "Submit Resource"), new_resource_path, 
      class: 'block bg-[#471815] text-white font-semibold text-center rounded-md px-6 py-3 shadow-lg' %>

    <% if @user_is_admin %>
      <%= link_to t('shared.manage_resources', default: "Manage Resources"), admin_resources_path, 
        class: 'block bg-[#471815] text-white font-semibold text-center rounded-md px-6 py-3 shadow-lg' %>
    <% end %>
  </div>

</div>

