<h1><%= t('shared.resources') %></h1>
<%= link_to t('.manage_resources', default: "Manage Resources"), admin_resources_path, class: 'btn btn-primary' %>
<%= link_to t('.submit_resource', default: "Submit Resource"), new_resource_path, class: 'btn btn-success', style: 'margin-left: 10px;' %>
<div style="display: flex;">
  <div style="width: 25%; padding-right: 20px;">
    <h2>Resource Types</h2>
    <ul style="list-style-type: none; padding: 0;">
      <li style="margin-bottom: 10px;">
        <%= link_to 'All Resources', resources_path, style: params[:resource_type_id].blank? ? "font-weight: bold;" : "" %>
      </li>
      <% @resource_types.each do |resource_type| %>
        <li style="margin-bottom: 10px;">
          <%= link_to resource_type.title, resources_path(resource_type_id: resource_type.id), style: params[:resource_type_id].to_s == resource_type.id.to_s ? "font-weight: bold;" : "" %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render 'shared/search_form', 
           form_url: resources_path, 
           show_text_search: true,
           text_search_label: t('search.resources.search_resources', default: "Search Resources"),
           text_search_placeholder: t('search.resources.search_bar', default: "Enter resource title or description"),
           show_major_filter: false, 
           show_class_year_filter: false, 
           show_per_page: true, 
           per_page_label: t('users.index.items_per_page', default: "Items per page")%>

  <div style="width: 75%;">
    <%= render 'resource_list', resources: @resources %>
  </div>
</div>