<div class="max-w-screen-xl mx-auto">
    <!-- Breadcrumb -->
    <nav class="flex justify-start pt-10" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse py-4">
        <!-- Resources -->
        <li class="inline-flex items-center">
            <%= link_to t('shared.resources'), resources_path, class: 'inline-flex items-center text-sm font-medium', style: 'color: #471815;' %> 
        </li>

        <!-- Resource Type -->
        <% if @resource.resource_type %>
            <li>
            <div class="flex items-center">
                <svg class="w-4 h-4 mx-1 <%= I18n.locale == :ar ? 'rotate-180' : '' %>" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10" style="color: #471815;">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <%= link_to @resource.resource_type.title, resources_path(resource_type_id: @resource.resource_type.id), class: 'ms-1 text-sm font-medium hover:underline md:ms-2', style: 'color: #471815;' %> 
            </div>
            </li>
        <% end %>

        <!-- Current Resource -->
        <li aria-current="page">
            <div class="flex items-center">
            <svg class="w-4 h-4 mx-1 <%= I18n.locale == :ar ? 'rotate-180' : '' %>" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10" style="color: #471815;">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
            </svg>
            <span class="ms-1 text-sm font-medium md:ms-2" style="color: #471815;"><%= @resource.title %></span> 
            </div>
        </li>
        </ol>
    </nav>


  <!-- Resource Image Gallery -->
  <div class="mb-6">
    <%= image_tag '', class: 'w-full h-96 object-cover rounded-lg' %>
  </div>

  <!-- Resource Info Section -->
  <div class="block mx-auto max-w-screen-xl p-6 bg-white border border-gray-300 rounded-lg shadow-lg">
    <div class="grid grid-cols-1 gap-4">
      <!-- Left Section (Title, Ratings, Author, Address) -->
      <div>
        <h5 class="text-2xl font-semibold text-[#471815] mb-2"><%= @resource.title %></h5>
        <div class="flex items-center mb-2">
          <!-- Star Ratings -->
          <span class="text-yellow-500">★★★★★</span>
          <span class="ml-2 text-sm text-gray-600">(5)</span>
        </div>
        <p class="text-gray-600"><%= t('resources.written_by', author_name: @resource_author.full_name) %></p>
      </div>
  
      <!-- Resource Description (Under the Left Section) -->
      <div class="p-2">
        <p class="text-left text-lg leading-relaxed text-gray-800">
          <%= @resource.description %>
        </p>
      </div>
    </div>
  </div>  


</div>
