<h1><%= t('.my_resources') %></h1>

<div style="display: flex;">
    <% if @posts.any? %>
        <table class="min-w-full bg-white border border-gray-200">
        <thead>
            <tr class="bg-gray-100 border-b">
            <th class="text-left p-4"><%=t('resources.type')%></th>
            <th class="text-left p-4"><%=t('resources.title')%></th>
            <th class="text-left p-4"><%=t('resources.description')%></th>
            <th class="text-left p-4"><%=t('resources.status')%></th>
            <th class="text-left p-4"><%=t('resources.feedback')%></th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr class="border-b">
                <td class="p-4"><%= post.resource_type.title %></td>
                <td class="p-4"><%= link_to post.title, resource_path(post), class: 'text-blue-500 hover:underline' %></td>
                <td class="p-4"><%= post.description %></td>
                <td class="p-4"><%= post.status %></td> 
                <td class="p-4"><%= post.feedback.present? ? post.feedback : "" %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    <% else %>
        <p> <%= t('.no_posts') %> </p>
    <% end %>
</div>