<h1><%= t('.welcome') %></h1>

<%= link_to t('.view_profile'), user_profile_path %><br>
<%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %><br>
<%= link_to t('.member_directory'), users_path %><br>
<%= link_to t('shared.resources'), resources_path %><br>
<%= link_to t('.view_my_posts'), posts_user_path(@user)%><br>
<% if current_user&.role&.name == 'admin' %>    
    <%= link_to t('shared.logs'), admin_logs_path %><br>
<% end %>

<%= link_to t('.manage_users', Default: "Manage Users"), admin_users_path, class: 'btn btn-primary' %> 